.wrapper
  = render 'shared/side_bar'

.chat
  .header
    .left-header
      .left-header__button{type: "button"}
        = link_to "Edit", edit_group_path(@group)
      .left-header__title
        = @group.name
        %ul.left-header__members
          %li.membe
            = "Menbers:"
          - @group.users.each do |user|
            = user.name
  .messages
    = render @messages

  .footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
